body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    z-index: 20;
    background: url(../images/background.png);
}
/*Tabuleiro de jogo (board)*/
#tabuleiro {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

/*Contentor*/
#container {
    position: relative;
    padding: 0;
    top: 20px;
    margin: auto;
    width: 410px;
    height: 410px;
    display: block;
    border: 10px #1F4952 solid;
    border-radius: 2%;
    box-shadow: 4px 4px 4px #1E7179;
    background-color: #2D5A63;
}

/*Define uma cara*/
.carta{
    display:block;
    height: 102px;
    width: 102px;
    background-image: url(../assets/oitavos.png);
    position:absolute;
    cursor: pointer;
    transform-style: preserve-3d; /* Permite a animação 3D */
    transition: transform 0.5s; /* Tempo da animação */
}

/*classe que mostra a carta virada ao contrario*/
.escondida{
    background-position: -209px -209px !important;
}

/* Estado inicial da carta virada para baixo: */
.carta.escondida {
    transform: rotateY(360deg);
}

/* Animação para esconder a carta: */
.carta.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

/* Frente e verso da carta: */
.carta .front,
.carta .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Esconde o verso da carta quando está virada para frente */
    transform: rotateY(0deg); /* Mantém a carta na posição original */
}

/* Frente da carta: */
.carta .front {
    background-position: center;
}

/* Verso da carta: */
.carta .back {
    background-position: -209px -209px;
    /*transform: rotateY(180deg); /* Vira a carta para mostrar o verso */
}

/*Classe que anima as cartas quando existe uma correspondencia*/
.matched{
    animation: matchKF alternate 0.1s;
}

@keyframes matchKF{
    from{ transform: scale(0);}
    to{ transform: scale(1.1);}
}

.hidden {
    display: none;
}

/*Formatação da progress bar*/
#time{
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: blue;
    border: none;
}
/* classe que anima a progress bar quando é adicionada à sua lista de classes*/
.warning{
    animation:warningAnimation 1s infinite alternate;
}

@keyframes warningAnimation { 
    from {
        background-color: blue;
    }
    to {
        background-color:red;
    }
}

/* animação para as cartas durante o baralhamento após os 45 segundos: */
.shuffle {
    animation: shuffleAnimation 0.8s ease-in-out;
}

@keyframes shuffleAnimation {
    0% {
        transform: scale(1) translate(0, 0);
    } 
    25% {
        transform: scale(1.1) translate(10px, -10px);
    }
    50% {
        transform: scale(0.9) translate(-10px, 10px);
    } 
    75% {
        transform: scale(1.1) translate(10px, 10px);
    }
    100% {
        transform: scale(1) translate(0, 0);
    } 
}